
<ion-header>
<ion-buttons start>
  <button ion-button menuToggle>
    <ion-icon name ="menu"></ion-icon>
  </button>
</ion-buttons>
  <ion-navbar>
    <ion-title>Tab 1</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
This is my Tab1 context!
</ion-content>
