
<ion-header>
  <ion-buttons start>
    <button ion-button menuToggle>
      <ion-icon name ="menu"></ion-icon>
    </button>
  </ion-buttons>
  <ion-navbar>
    <ion-title>Tab 2</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
This is my Tab2 context!
</ion-content>
